
<p>
<strong>Nombre:</strong>
<%= @gusto.nombre %>
</p>

<p>
<strong>Descripción:</strong>
<%= @gusto.descripcion %>
</p>
<p>
	<strong>Tipo</strong>
	<%= @gusto.tipo%>
</p>


<br>
<%= button_to 'Editar gusto', { :action => "edit" }, :method => :get%>
<br>
<%= link_to 'Eliminar gusto', gusto_path(@gusto.id), method: :delete, data: { confirm: 'Estas segur@?'} %>
<br>
<br>
<%= button_to "Listado de gustos", { :action => "index" }, :method => :get %>